/*New Player Added - Form*/

.newForm {
    width: 100%;
    border: 2px solid white;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 40px;
    margin-top: 20px;
    border-radius: 12px;
}

form {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

input {
    background-color: white;
    color: black
}
