/*search bar*/
.search {
  width: 100%;
}

.searchBar {
  font-family: cursive;
  background-color: lightgrey;
  color: black;
  font-size: 14pt;
  padding: 10px;
  border-radius: 8px;
  outline: none;
}

.searchBar:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
