#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-decoration: underline;
  font-family: 'Dela Gothic One', cursive;
  padding-bottom: 20px;
  font-size: 3em;
}

.mainPic {
  width:100%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
}

li {
  list-style-type: none;
  display: inline;
}

.navBar {
  display: flex;
  justify-content: center;
}

.navBar a {
  font-family: 'Dela Gothic One', cursive;
  margin: 20px;
  color: white;
  font-size: 14pt;
}

.navBar a:hover {
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navBar {
    flex-direction: column;
  }
}

